extends layout

block content

	.container(ng-app='alko' ng-controller='MainController' ng-init='init()')
		.row
			.col-md-12
				table.table.table-striped(ng-table='tableParams' show-filter='true')
						tr(ng-click='openModal(product)' ng-repeat='product in $data')
							td(data-title="'Nimi:'" sortable="'Nimi'" filter="{ 'Nimi' : 'text' }") {{product.Nimi}}
							td(data-title="'Tyyppi:'" sortable="'Tyyppi'" filter="{ 'Tyyppi' : 'select'}" filter-data='getAvailableTypes()') {{product.Tyyppi}}
							td(data-title="'Hinta:'" sortable="'Hinta'") {{product.Hinta}} €
							td(data-title="'Alkoholi-%:'" sortable="'Alkoholi'") {{product.Alkoholi}} %