block modal

script(type='text/ng-template' id='productModal.html')
	div(role='dialog').modal.fade#product-modal
		.modal-dialog
			.modal-content
				.modal-header
					button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
					h4.modal-title#product-title {{product.Nimi}}

				.modal-body

					img#product-image.img-thumbnail.product-image

					p#product-description

					p.product-price {{product.Hinta}}
					p.product-type {{product.Tyyppi}}
					p.product-group
					p.product-area

					dl.dl-horizontal
						dt Tuotenumero:
						dd.number

						dt Alkoholi:
						dd.alcohol

						dt Alkoholia / e:
						dd.alcoholpere

						dt Pakkaus:
						dd.package

						dt Pakkauskoko:
						dd.packagesize

						dt Korkki:
						dd.cork

					
				.clearfix

				.modal-footer
					button(type='button', ng-click='dismissModal()').btn.btn-default Sulje